body,
h1,
h2,
h3,
h4,
h5,
h6,
.uk-navbar-nav>li>a {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/* Base
 ========================================================================== */

html {
    overflow-y: scroll;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

